.threed{
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(rgb(239, 245, 255) 0px, rgb(224, 236, 255) 100%);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    height: 33px;
    border: solid 1px #95b8e7;
}
.padd{
    margin-left: 80px;
    color: #15428b;
}
.pad{
    margin-left: 75px;
    color: #15428b;
}
.b-header{
    font-size: 14px;
    color: #15428b; margin-top: -3px;
}