

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="background-color: #ECF2F9;">
                <div class="container">
                    <h2>Reactive Form</h2>
                    <form >
                        <div style="margin-bottom:20px">
                            <label [for]="name" text-align="top">Name:</label>
                            <eui-textbox #name formControlName="name"></eui-textbox>
                            <div class="error">This field is required.</div>
                        </div>
                        <div style="margin-bottom:20px">
                            <label [for]="email" text-align="top">Email:</label>
                            <eui-textbox #email formControlName="email" ></eui-textbox>
                            <div class="error">Please enter a valid email address.</div>
                        </div>
                        <div style="margin-bottom:20px">
                            <label [for]="hero" text-align="top">Select a hero:</label>
                            <eui-combobox #hero formControlName="hero"></eui-combobox>
                        </div>
                        <div style="margin-bottom:20px">
                            <eui-checkbox #accept formControlName="accept"></eui-checkbox>
                            <label [for]="accept">Accept Me</label>
                        </div>
                        <div style="margin-bottom:20px">
                            <eui-linkbutton>Submit</eui-linkbutton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="background-color: #ECF2F9;">
              <div class="container">
        <eui-datagrid [data]="data" style="height:250px">
            <eui-grid-column field="itemid" title="Item ID"></eui-grid-column>
            <eui-grid-column field="name" title="Name"></eui-grid-column>
            <eui-grid-column field="listprice" title="List Price" text-text-align="right"></eui-grid-column>
            <eui-grid-column field="unitcost" title="Unit Cost" text-text-align="right"></eui-grid-column>
            <eui-grid-column field="attr" title="Attribute" width="30%"></eui-grid-column>
            <eui-grid-column field="status" title="Status" text-text-align="center"></eui-grid-column>
        </eui-datagrid>
              </div>
            </div>
        </div>
    </div>
</div>