<section>
  <div class="row" style="
   background-color:   #BFDBFF url(../assets/i01_bg.png) repeat-x scroll center top;
    background-color: rgb(191, 219, 255);
    background-position-x: center;
    background-position-y: top;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-image: url('../assets/i01_bg.png');
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
  ">
    <div class="d-flex" style="position:relative;width:100%;height: 135px; ">

      <div class="main-menu d-inline-block">
        <div class="row ml-1" >
          
          <div class="btn-group dropend">
            <div class="d-flex">
   
                <i class="bi bi-grid-3x3-gap-fill" style="font-size: larger; cursor: pointer;" (click)="openMenu($event)"></i> &nbsp;
              <i class="fa fa-caret-down" style="font-size: larger; margin-top: 5px;cursor: pointer;" (click)="openMenu($event)"></i>
     
              
              <ul class="dropdown-menu closethis" style="z-index: 1500; border: solid #AEBACB; background-color: #ccdbee; top: 20px">
                <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                </li>
                <li>
                  <a class="dropdown-item" href="" (mouseover)="openSubMenu($event)">
                    Submenu <i class="bi bi-caret-right-fill"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-submenu closethis" style=" background-color: #ccdbee;">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)">Submenu item 1</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)">Submenu item 2</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)">Submenu item 3</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)">Submenu item 4</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0)">Submenu item 5</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <br><br>
          <i class="bi bi-arrow-bar-left" style="margin-top: 22px; margin-left: 11px; font-size: 2rem;"></i>
        </div>
        
      </div>
      <div class="container-fluid d-inline-block">
        <div class="tab-menu" style="position: relative;
        top: 4px; width: 105.7%;">
         <tabset>
            <tab  *ngFor="let i of tabb" heading = "{{i.heading}}">       
              <div class="d-flex align-items-stretch bd-highlight text-nowrap">
                  <drag-scroll [scroll-x-wheel-enabled] = true>
                    <div class="p-2 bd-highlight" drag-scroll-item *ngFor="let items of i.tabContents">
                      <div class="inset">
                          <div class="submenu-container">
                            <div class="submenu-inner-container">
                              <ul class="float-start menu-ribbon" *ngFor="let itm of items.menus">
                                <li *ngFor=" let it of itm" [ngClass]="{'single1': it.type === 'single'}">
                                  <a><img src="{{it.icon}}" class="mic">{{it.name}}</a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-sm-12">
                              <div class="bottom-text" style="position: absolute; left: 38px;">
                                <a>{{items.menuSetName}}</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </drag-scroll>
                </div>
            </tab>
       
          
      </tabset>
        </div>
      </div>

    </div>
  </div>
</section>