.tab-menu{
    position: absolute;
    left: -90px;
}
.mic {
    width: 16px;
    height: 16px;
}
.single1 .mic {
    display: block;
    width: 32px;
    height: 32px;
}
drag-scroll{
    width: 100%;
}

.dropdown-menu {
    border: solid #aebacb;
}
.tab-content {
    position: absolute;
  }